#wrong-secret-alert {
    position: relative;
    top: -10rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    height: 30rem;
    background-color: cadetblue;
    font-size: 2em;
    font-family: fantasy;

}

#wrong-secret-alert div {
    position: relative;
    top: 9rem;
}