<link rel="stylesheet" href="/app/modules/wordshuffle/views/setup/editProfile.tpl.css">
{{Setup.Player.signInState}}
<div id="wrong-secret-alert" ng-show="Setup.Player.signInState === Setup.SysMan.SIGNED_IN_EDIT_NOT_ALLOWED">
    <p>Alert!! You entered the wrong secret</p>
    <div id="alert-buttons" align="center" class="row">
        <button class="col-xs-6" type="button" ng-click="Setup.goToIndex()">go back</button>
        <button class="col-xs-6" type="button" ng-click="Setup.goToEdit()">re-Enter</button>
    </div>
</div>
<form ng-show="Setup.Player.signInState === Setup.SysMan.SIGNED_IN_EDITING">
    <div class="form-group">
        <label for="current-user">UserName: </label>
        <span id="current-user">{{Setup.Player.name}}</span>
    </div>
    <div class="form-group">
        <label for="current-secret">Please enter the answer below to authenticate!</label>
        <input id="current-secret" type="password" placeholder="Secret here" ng-model="Setup.Player.secret">
    </div>
    <button type="button" ng-click="Setup.Player.authenticateUser()">Authenticate</button>
</form>
<form ng-show="Setup.Player.signInState == Setup.SysMan.SIGNED_IN">
    <div class="form-group">
        <label for="username">User Name</label>
        <div id="username">
            <input type="text" ng-model="Setup.Player.name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="setup-player-challenge">Challenge Question</label>
        <select
                ng-model="Setup.Player.idChallenge"
                ng-options="challenge.id as challenge.question for challenge in Setup.Player.challenges"
                id="setup-player-challenge">
            <!--<option value="">-- choose one --</option>-->
        </select>
    </div>
    <div class="form-group">
        <label for="new-secret">Enter the new Secret</label>
        <input type="password" ng-model="Setup.Player.secret" id="new-secret" placeholder="new current secret"/>
    </div>
    <div id="save-changes">
        <button type="text" ng-click="Setup.saveProfileChanges()">save changes</button>
    </div>
</form>
