.setup-display-message, #login-register-form  {
    /*position: relative;*/
    /*top: 32rem;*/
}

.setup-display-message {
    /*top: 23rem;*/
    font-family: cursive;
    font-size: 2rem;
    padding: 1rem 0rem;
    text-align: justify;
}

#user-not-found {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 30rem;
}

#user-signed-in {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}