#user-not-found {
    position: relative;
    top: -10rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    height: 30rem;
    background-color: cadetblue;
    font-size: 2em;
    font-family: fantasy;

}

#user-not-found div {
    position: relative;
    top: 9rem;
}

/*div.alert-container-div {*/
    /*padding: 4rem;*/
/*}*/

/*div.alert-msg-div {*/
    /*box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);*/
    /*height: 10rem;*/
    /*background-color: mediumpurple;*/
    /*color: black;*/
    /*font-size: 2rem;*/
/*}*/

#username, #challenge-question {
    font-family: monospace;
    font-weight: 700;
}