<link rel="stylesheet" href="/app/modules/wordshuffle/views/setup/login.tpl.css">
<form id="login-form" name="loginForm" ng-show="Set">
    <alert
            ng-repeat="pmsg in Setup.Player.msg track by $index"
            type="{{pmsg.type}}"
            close="Setup.Player.removeMsg($index)"
            ng-show="Setup.Player.signInState > Setup.SysMan.NAME_PENDING">
        {{pmsg.text}}
    </alert>
    <div ng-show="Setup.Player.signInState === Setup.SysMan.SECRET_PENDING">
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="username">UserName: </label>
                <span id="username">
                    {{Setup.Player.name}}
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="challenge-question">Challenge Question: </label>
                <span id="challenge-question">
                    {{Setup.Player.challenge}}
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="user-secret">Secret</label>
                <input id="user-secret" ng-model="Setup.Player.secret" type="password" palceholder="Enter your secret here">
            </div>
        </div>
        <div align="center">
            <a ui-sref='module.controller.action({module:"wordshuffle",controller:"setup",action:"index"})'>
                <button type="button" ng-click="Setup.Player.save()">Login</button>
            </a>
        </div>
    </div>
    <div ng-show="Setup.Player.signInState == Setup.SysMan.NEW_SIGN_IN">
        <button type="button" ng-click="Setup.goToIndex()">go Back</button>
    </div>
</form>
