<link rel="stylesheet" href="/app/modules/wordshuffle/views/setup/registration.tpl.css">
<!--{{Setup.Player.signInState}} this is the current signIN State-->
<form name="registrationForm" id="registration-form">
    <!--<div class="row reg-alert-box" ng-hide="Setup.Player.signInState == Setup.SysMan.ANONYMOUS_PLAY">-->
        <!--<div class="col-lg-12">-->
            <!--<div class="row alert-container-div" align="center">-->
                <!--<div class="alert-msg-div col-lg-8 col-lg-offset-2">-->
                    <!--<p ng-repeat="pmsg in Setup.Player.msg track by $index">-->
                        <!--{{pmsg.text}}-->
                    <!--</p>-->
                    <!--<button class="btn btn-primary" ng-click="Setup.closeAlert($event)">ok</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="log-reg-elements">
        <div class="form-group row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-lg-5">
                        <p><b>Requested User Name:</b></p>
                    </div>
                    <div class="col-lg-7">
                        <input type="text" name="name" class="form-control" placeholder="Enter username" ng-model="Setup.Player.name" ng-keyup="!Setup.invalidName() && Setup.checkNameAvailable()"/>
                        <div id="user-available">
                            <span ng-show="Setup.Player.signInState === Setup.SysMan.NAME_NOT_AVAILABLE" class="text-danger">username not available</span>
                            <span ng-show="Setup.Player.signInState === Setup.SysMan.NEW_SIGN_IN" class="text-success">username available</span>
                            <span ng-show="Setup.isDefaultName()" class="text-danger bg-danger">Default name</span>
                            <span ng-show="Setup.invalidName()" class="text-danger bg-danger" title="length should atleast be 2, and allowed characters: digits, alphabets, spaces, hyphens and underscores">Invalid Name.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <fieldset ng-disabled="Setup.Player.signInState == Setup.SysMan.NAME_NOT_AVAILABLE">
            <div class="form-group row" ng-class="{'has-error': !registrationForm.registerCQuestions.$dirty}">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <label for="setup-player-challenge">Challenge Question:</label>
                        </div>
                        <div class="col-lg-7">
                            <select
                                    name="registerCQuestions"
                                    ng-model="Setup.Player.idChallenge"
                                    ng-options="challenge.id as challenge.question for challenge in Setup.Player.challenges"
                                    id="setup-player-challenge"
                                    class="form-control"
                                    required
                            >

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-class="{'has-error': registrationForm.secret.$invalid && !loginRegisterForm.secret.$pristine}">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <label for="player-secret" type="text">Set your secret answer here: </label>
                        </div>
                        <div class="col-lg-7">
                            <input class="form-control" name="secret" type="password" ng-minlength="8" ng-model="Setup.Player.secret" id="player-secret" required>
                            <p ng-show="registrationForm.secret.$error.minlength" class="help-block">Secret is too short.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-7 col-lg-offset-5 form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" id="register-tos-checkbox" type="checkbox" ng-click="Setup.Player.acceptedTOS = !Setup.Player.acceptedTOS"> I accept the terms and conditions of play.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-5">
                        <div class="row">
                            <div class="col-lg-5">
                                <button type="button" class="btn btn-primary" id="back-button" title="go back to change user Name" ng-click="Setup.goToIndex()">Back</button>
                            </div>
                            <div class="col-lg-7">
                                <a ui-sref='module.controller.action({module:"wordshuffle",controller:"setup",action:"index"})'>
                                    <button type="submit" class="btn btn-success" id="submit-register-button" ng-click="Setup.Player.save()"
                                            ng-disabled="!Setup.registerCheckbox() || registrationForm.$invalid || registrationForm.registerCQuestions.$error.required ||
                                             !registrationForm.registerCQuestions.$dirty || Setup.Player.signInState == Setup.SysMan.NAME_NOT_AVAILABLE || Setup.invalidName() ||
                                             Setup.isDefaultName()" title="click here to finish your registration">Finish Register</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
