<link rel="stylesheet" href="/app/modules/main/views/layout.tpl.css">
<div id="HeaderBar">
    <div class="Left-Zone">
        gApp!
    </div>
    <div class="Right-Zone">
        <ul id="Controller-Menu" class="Model Menu" >
            <li class="Model Menu Item" >
                <a ui-sref='module({module:"wordshuffle"})'>WordShuffle</a>
            </li>
        </ul>
    </div>
</div>
<div class="Main_Views_Layout">
    <h1>
        Hello from Grace Application Framework!  This text displays when AngularJS "ui.router" loads the Main_Views_Layout template.
    </h1>
    <div ui-view></div>
</div>
<footer>
    <span id="copyright">Copyright 2015 by Grace Clinic Holdings LLC</span>
</footer>