<link rel="stylesheet" href="/app/modules/wordshuffle/views/Play.tpl.css">
<link rel="stylesheet" href="/app/modules/wordshuffle/directives/game/Square.drv.css">
<div ng-controller="WordShuffle_Controllers_Play as Play" class="row">
    <div class="controller_play view_leftPanel col-xs-3">
        <div class="stats_container">
            <div class="model_player_stats table_view" ng-show="Play.Player.signInState == Play.SysMan.SIGNED_IN">
            <div class="model_player_stats view_row form-group stats-header">
                <div class="model_player_stats view_left">Your Stats for Round Lasting</div>
                <div class="model_player_stats right">
                    <select class="form-control" id="Play-Stats-roundDuration" ng-model="Play.roundDuration" name="roundDurationStats">
                        <option value=1>1 minute</option>
                        <option value=2>2 minutes</option>
                        <option value=3>3 minutes</option>
                        <option value=0>--all--</option>
                    </select>
                </div>
            </div>
            <div class="model_player_stats view_row">
                <div class="model_player_stats view_left roundHigh">Round High:</div><div class="model_player_stats right roundHigh">{{Play.Stats.roundHigh}}</div>
            </div>
            <div class="model_player_stats view_row">
                <div class="model_player_stats view_left roundAvg">Round Avg:</div><div class="model_player_stats right roundAvg">{{Play.Stats.roundAvg}}</div>
            </div>
            <div class="model_player_stats view_row">
                <div class="model_player_stats view_left avgWord">Avg Pts per Word: </div><div class="model_player_stats right avgWord">{{Play.Stats.avgPtsPerWord}}</div>
            </div>
            <div class="model_player_stats view_row">
                <div class="model_player_stats view_left avgWordCount">Average Word Count: </div><div class="model_player_stats right avgWordCount">{{Play.Stats.avgWordCount}}</div>
            </div>
            <div class="model_player_stats view_row">
                <div class="model_player_stats view_left longestWord">Longest Word: </div><div class="model_player_stats right longestWord">{{Play.Stats.longestWord}}</div>
            </div>
            <div class="model_player_stats view_row">
                <div class="model_player_stats view_left totalWords">Total Rounds: </div><div class="model_player_stats right totalWords">{{Play.Stats.totalRounds}}</div>
            </div>
            <div class="model_player_stats footer"></div>
        </div>
        </div>
        <div class="model_player_stats stats_container" ng-show="Play.Player.signInState != Play.SysMan.SIGNED_IN"><span>NO STATS FOR YOU!<br> Please login/register to start saving your stats.<br>
            <a ui-sref='module.controller.action({module:"wordshuffle",controller:"setup",action:"index"})'
               ng-class="{active: Layout.isActive('setup')}">Register now</a> </span>
        </div>
    </div>
    <div class="controller_play view_rightPanel col-xs-9">
        <div ui-view></div>
    </div>
    <script type="text/ng-template" id="app/modules/wordshuffle/views/play/configModal.html">
        <div ng-show="Play.toggleConfigModal" ng-controller = "WordShuffle_Controllers_Play as Play">
            <div class="modal-header" >
                <h3 class="modal-title">Configure your game</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-7 label-font-setup" for="play-game-minutesPerRound">Time per round (minutes):</label>
                        <div class="col-md-2">
                            <select class="form-control" id="play-game-minutesPerRound" ng-model="Play.minutesPerRound" name="minutesPerRound">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-7 label-font-setup" for="play-game-totalRounds">Rounds per game:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="play-game-totalRounds" ng-model="Play.Player.roundsPerGame" name="roundsPerGame">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-show="Play.Player.signInState < Play.SysMan.SIGNED_IN">
                <button type="button" class="btn btn-success btn-sm" ng-click="Play.start()">Play as Anonymous</button>
                or
                <button type="button" class="btn btn-success btn-sm" ng-click="Play.goToLoginPage()">Register</button>
            </div>
            <div class="modal-footer" ng-show="Play.Player.signInState == Play.SysMan.SIGNED_IN">
                <button type="button" class="btn btn-success btn-lg" ng-click="Play.start()">Play</button>
            </div>
        </div>
    </script>
</div>