/* generic styles */
.table_view{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #a6d2cc;
}
.header_view{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    border-bottom: 1px solid #375351;
    font: italic 14pt bold;
}
/* player stats side panel styles */
.model_player_stats{
    padding-top: 2px;
    font-size: 11pt;
    font-family: cursive;
    font-weight: bold;
    /* font-style: initial; */
    overflow: hidden;
    color: midnightblue;
    margin-top: 4px;
}
.model_player_stats.view_row{
    float:left;
    width:100%;
}
.model_player_stats.view_row > *{
    vertical-align: bottom;
}
.model_player_stats.view_left{
    width: 55%;
    text-align: right;
    float: left;
}
.model_player_stats.right{
    width: 40%;
    padding-left: 5%;
    text-align: left;
    float: left;
}
.model_player_stats.footer{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    border-top: 1px solid #375351;
    float: left;
}
/* controller view panel styles */
.controller_play.view_leftPanel{
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
}
.controller_play.view_rightPanel{
    background-color: #fdffcd;
    padding-left: 0;
    box-sizing: border-box;
    border-left: 4px solid #536865;
    overflow: hidden;
}
/* game styles */
.models-game-header {
    width:100%;
    display: table;
}
#models-game-clock {
    font: 24px bolder, "Courier New", cursive;
    background-color: black;
    color: white;
    text-align: center;
    border: solid 3px;
    border-color: blue;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 3px 3px 4px 3px;
    float: inherit;
    box-sizing: content-box;
}
.models-game-quit-button {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid 3px;
    border-color: #d58c00;
}
.models-game-play-button {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid 3px;
    border-color: green;
}
#models-game-word {
    float:left;
    padding-left:5%;
}
#models-game-word span {
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f2dede;
}
#models-game-word button {
    padding-left: 5px;
}
#models-game {
    font: 20px normal, "Comic Sans", cursive;
    padding: 20px 1% 20px 1%;
    width: 100%;
    overflow: hidden;   /* wrap div container around children */
    position:relative;
}
.models-game-board {
    float: left;
    width: 60%;
    border-radius: 10px;
    text-align:right;
    background-color: #a99ac2;
    padding: 20px 5% 20px 5%;
    box-sizing: border-box;
    height: auto;
    display: table;
    z-index: 1;
}
.models-game-row {
    width:      100%;
    display: table-row;
    /*overflow: hidden;*/
}
/* overlay styles */
#models-game-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /*padding: 20px 11px 20px 11px;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128,128,128,0.5);
    z-index: 100;
}
#models-game-overlay > div {
    width: 60%;
    padding: 20px 5%;
    box-sizing: border-box;
    height: auto;
    display: table;
    z-index: 1;
    margin-top: 50px;
    margin-left: 300px;
    text-align:center;
    color: green;
}
#models-game-overlay button {
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
    border: solid 3px green;
}
/* scoreboard css */
#models-game-scoreboard {
    float: left;
    width: 40%;
    padding: 10px 5% 10px 5%;
    box-sizing: border-box;
}
.models-game-scoreboard.models-game-scoreboard-summary {
    padding: 10px 0 10px 0;
    overflow: hidden;
}
.models-game-scoreboard.models-game-scoreboard-title {
    color:  #860505;
    text-align: center;
    text-decoration: underline;
    font:   normal 32px bold;
}
.models-game-scoreboard.models-game-scoreboard-header {
    overflow: hidden;
    border-bottom: 1px solid #860505;
    border-top: 6px double #860505;
    margin-top: 10px;
}
.models-game-scoreboard-header .models-game-scoreboard.left-side,
.models-game-scoreboard.models-game-scoreboard-header .models-game-scoreboard.right-side {
    font: italic 24px bold;
}
#models-game-scoreboard .models-game-scoreboard.models-game-scoreboard-line {
    padding: 10px 10px 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #860505;
}
#models-game-scoreboard .models-game-scoreboard.left-side {
    width: 45%;
    float: left;
    text-align: right;
    padding: 0 5% 0 0
}
#models-game-scoreboard .models-game-scoreboard.right-side {
    width: 45%;
    float: left;
    padding: 0 0 0 5%
}
#models-game-scoreboard-body .models-game-scoreboard.models-game-scoreboard-line:nth-of-type(odd) {
    background-color: #cfe0cf;
}
#models-game-scoreboard-body .models-game-scoreboard.models-game-scoreboard-line:last-child {
    border-bottom: 6px double #860505;
}
.models-game-scoreboard-box {
    border: 4px solid blue;
    background-color: white;
    border-radius: 4px;
    padding: 1px 4px 1px 4px;
}
.stats-header{
    border-bottom: solid 1px;
    padding: 1rem 0;
}

.modal-backdrop{
    display: none;
}

.model .fade{
    display: none;
}
.stats_container{
padding-top: 15px;
}