.controller_setup.view_leftPanel{
    overflow: hidden;
    height: 680px;
}
.model_player_stats{
    padding-top: 2px;
    font-size: 10pt;
    overflow: hidden;
}
.table_view{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #a6d2cc;
}
.header_view{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    border-bottom: 1px solid #375351;
    font: italic 14pt bold;
}
.model_player_stats.view_row{
    float:left;
    width:100%;
}
.model_player_stats.view_row > *{
    vertical-align: bottom;
}
.model_player_stats.view_left{
    width: 65%;
    text-align: right;
    float: left;
}
.model_player_stats.right{
    width: 30%;
    padding-left: 5%;
    text-align: left;
    float: left;
}
.model_player_stats.footer{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    border-top: 1px solid #375351;
    float: left;
}
.controller_setup.view_rightPanel{
    background-color: #fdffcd;
    box-sizing: border-box;
    border-left: 4px solid #536865;
    overflow: hidden;
    height: 680px;
}

.col-center{
    margin: 200px auto;
}
alert
{
    font-size: 8pt;
    margin-bottom: 0;
    width: 50%;
}
.view_form
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16pt;
    width: auto;
}
.view_form_line
{
    overflow: auto;  /*this "clears" the floated elements*/
    padding-bottom: 20px;
    width: 100%;
}
.setup_player_msg
{
    width: 50%;
    display: block;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
}

.setup_player_msg_registration{
    width: 100%;
    display: block;
    font-size: 14pt;
}

.setup_player_msg_login{
    width: 100%;
    display: block;
    font-size: 14pt;
}

.view_form_line_leftside
{
    float: left;
    padding-right: 3px;
    width: 35%;
    text-align:right;
    box-sizing: border-box;
}
.view_form_line_rightside
{
    float: left;
    width: 63%;
    padding-right: 2%;
    text-align:left;
    box-sizing: border-box;
}
#Setup-playGame{
    background-color: mediumpurple;
    border-color: purple;
    color: white;
}
#Setup-playGame:hover{
    background-color: #7a61c2;
}
#Setup-player-login{
    opacity: 0.7;
}
.fa-sign-in{
    color: darkred;
    font-size: 14pt;
}
.tooltip{
    font-family: "Times New Roman", sans-serif;
    font-size: 12pt;
    z-index:100;
}
.clickable:hover{
    cursor: pointer;
    opacity: 0.7;
}

.label-font-setup{
    font-size: 18px;
}
.setupChallenge {
    position: relative;
    top: 1.2rem;
}