
/*.controller_setup#setup-view-left-panel #setup-display-message, .controller_setup#setup-view-left-panel #login-register-form  {*/
    /*position: relative;*/
    /*top: 32rem;*/
/*}*/

/*.controller_setup#setup-view-left-panel #setup-display-message {*/
    /*top: 23rem;*/
    /*font-family: cursive;*/
    /*font-size: 2rem;*/
/*}*/

.controller_setup#setup-view-right-panel {
    height: 88.3vh;
    background-color: #fdffcd;
    border-left: solid;
}

.controller_setup#setup-view-left-panel {
    height: 88.3vh;
    /*display: flex;*/
}

#container-div {
    display: table;
    width: 100%;
    height: 100%;
}

.controller_setup #action-container {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    max-height: 88.3vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;

}

button#register-button {
    border-color: purple;
    background-color: mediumpurple;
    line-height: 3rem;
    width: 8.5rem;
    border-radius: 0.5rem;
    color: white;
}

button#login-button {
    background-color: #5cb85c;
    border-color: #4cae4c;
    line-height: 3rem;
    width: 8.5rem;
    border-radius: 0.5rem;
    color: white;
}

#setup-play-form {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.logged-in-user {
    color: #5cb85c;
}

.anonymous-user {
    color: mediumpurple;
}

#anonymous-registered-message {
    border-bottom: solid;
}

div.alert-container-div {
    padding: 4rem;
}

div.alert-msg-div {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
    background-color: cadetblue;
    color: black;
    font-size: 2rem;
    padding: 2rem;
}

.zero-padding {
    padding: 0;
}


/*index.css appended here*/
alert
{
    font-size: 8pt;
    margin-bottom: 0;
    width: 50%;
}
.view_form
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16pt;
    width: auto;
}
.view_form_line
{
    overflow: auto;  /*this "clears" the floated elements*/
    padding-bottom: 20px;
    width: 100%;
}
.setup_player_msg
{
    width: 50%;
    display: block;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
}
.view_form_line_leftside
{
    float: left;
    padding-right: 3px;
    width: 35%;
    text-align:right;
    box-sizing: border-box;
}
.view_form_line_rightside
{
    float: left;
    width: 63%;
    padding-right: 2%;
    text-align:left;
    box-sizing: border-box;
}
#Setup-playGame{
    background-color: mediumpurple;
    border-color: purple;
    color: white;
}
#Setup-playGame:hover{
    background-color: #7a61c2;
}
#Setup-player-login{
    opacity: 0.7;
}
.fa-sign-in{
    color: darkred;
    font-size: 14pt;
}
.tooltip{
    font-family: "Times New Roman", sans-serif;
    font-size: 12pt;
    z-index:100;
}
.clickable:hover{
    cursor: pointer;
    opacity: 0.7;
}
.setup-config {
    font-size: 2rem;
}
/*index.css ends here*/