.controller_welcome.view_leftPanel{
    text-align: center;
    width: 20%;
    float: left;
    padding-top: 5px;
    overflow: hidden;
}
.model_player_stats{
    padding-top: 2px;
    font-size: 10pt;
    overflow: hidden;
}
.table_view{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #a6d2cc;
}
.header_view{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    border-bottom: 1px solid #375351;
    font: italic 14pt bold;
}
.model_player_stats.view_row{
    float:left;
    width:100%;
}
.model_player_stats.view_row > *{
    vertical-align: bottom;
}
.model_player_stats.view_left{
    width: 65%;
    text-align: right;
    float: left;
}
.model_player_stats.right{
    width: 30%;
    padding-left: 5%;
    text-align: left;
    float: left;
}
.model_player_stats.footer{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    border-top: 1px solid #375351;
    float: left;
}
.controller_welcome.view_rightPanel{
    background-color: #fdffcd;
    width: 80%;
    padding-left: 1%;
    float: left;
    box-sizing: border-box;
    min-height: 88.3vh;
    border-left: 4px solid #536865;
    overflow: hidden;
    min-height: 850px;
}

input[type=button] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 4px 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}