<link rel="stylesheet" href="/app/modules/wordshuffle/directives/instructions/SlideShowOutline.drv.css">
<div class="pageList">
    <div align="center">
        <table>
            <tr>
                <th class="title">
                    <img ng-src={{SlideShowOutlineCtrl.imgToggle}} alt="Expand image" height="20" width="20"  ng-model="SlideShowOutlineCtrl.collapsed" ng-click="SlideShowOutlineCtrl.toggleOutline()">
                </th>
                <th>
                    <div  ng-bind-html="SlideShowOutlineCtrl.title"></div>
                </th>
            </tr>
        </table>
    </div>

    <div align="center" >
        <div  ng-show="SlideShowOutlineCtrl.collapsed" class="slide_show_outline_body">
            <div>
                <li style="list-style-type: none" ng-repeat = "x in SlideShowOutlineCtrl.pageNum" >
                <a ng-click = "SlideShowOutlineCtrl.selectedPage(x)" ng-class="{active : SlideShowOutlineCtrl.isSelected(x)}">Page {{x}}</a><br><br>
                </li>
            </div>
        <div>
            <input type="button" value={{SlideShowOutlineCtrl.stop}} ng-click = "SlideShowOutlineCtrl.toggleSlideShow()">
        </div>
        </div>
    </div>
</div>
