#instructionsListBlock {
    margin-top: 2rem;
}

.instructionsList {
    list-style-type: none;
}

.instructionsList > li {
    background-color: #c0c0c0;
    margin-right: 5rem;
    margin-left: -2.4rem;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.instructionsList > li:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

li.ng-binding.selectedPageInstruction {
    background-color: #F08080;
    box-shadow: 2.5px 3px 0px 1px rgba(0, 0, 0, 0.3);
}

button.btn.btn.btn-primary {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    border: none;
    margin-top: 1rem;
}

button.btn.btn.btn-primary.red {
    background-color: red;
}

button.btn.btn.btn-primary.green {
    background-color: #4cae4c;
}

button#howToPlay {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
    width: 35rem;
    height: 10rem;
    font-size: 2em;
}

button#howToPlay.contentCollapsed {
    background-color: mediumpurple;
}

button#howToPlay.contentUnCollapsed {
    background-color: #F08080;
}

.active {
    background-color: #F1C40F;
}

.pageList {
    margin-left: 100px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px 10px 10px 10px;
    width: 250px;
    height: auto;
    margin-top: 10px;
    background-color:#fdffcd;
}

.title{
    padding-right: 15px;
    text-align: center;
}

.slide_show_outline_header {
    border-bottom: solid green;
    padding-bottom: 1rem;
    margin: 0px 20px 10px;
}