<app-common-directives-banner msg="Play.SysMan.msg" expires="5000"></app-common-directives-banner>
<div id="models-game">
    <div id="models-game-board">
        <div id="models-game-header">
            <div id="models-game-word">
                <label for="models-game-word-field">Word:</label>
                <span id="models-game-word-field">{{Play.Game.word}}</span>
                <button
                        id="models-game-word-submit"
                        class="btn btn-success btn-xs"
                        type="submit"
                        ng-click="Play.Game.submitWord()"
                        ng-disabled="Play.Game.wordSquares.length < 2"
                        >
                    OK
                </button>
            </div>
            <div id="models-game-clock">{{Play.Game.Clock.minutes}}:{{Play.Game.Clock.seconds}}</div>
        </div>
        <div class="models-game-row"
            ng-repeat="gameRow in Play.Game.Squares"
        >
            <wordshuffle-directives-game-square
                ng-repeat="square in gameRow"
                square="square"
            ></wordshuffle-directives-game-square>
        </div>
        <button id="models-game-quit" type="button" class="btn btn-warning btn-lg" ng-click="Play.quit()">Quit</button>
    </div>
    <div id="models-game-scoreboard">
        <div class="models-game-scoreboard models-game-scoreboard-title">
            Round {{Play.Game.round}}
        </div>
        <div class="models-game-scoreboard models-game-scoreboard-summary">
            <div id="models-game-scoreboard-total-label" class="models-game-scoreboard left-side">This Round = </div>
            <div id="models-game-scoreboard-totalScore" class="models-game-scoreboard right-side"><span class="models-game-scoreboard-box">{{Play.Game.Rounds[Play.Game.round-1].points}}</span></div>
        </div>
        <div class="models-game-scoreboard models-game-scoreboard-summary">
            <div id="models-game-scoreboard-lastRound-label" class="models-game-scoreboard left-side">Game Total = </div>
            <div id="models-game-scoreboard-lastRoundScore" class="models-game-scoreboard right-side"><span class="models-game-scoreboard-box">{{Play.Game.points}}</span></div>
        </div>
        <div class="models-game-scoreboard models-game-scoreboard-header" >
            <div class="models-game-scoreboard left-side">Word</div>
            <div class="models-game-scoreboard right-side">Score</div>
        </div>
        <div id="models-game-scoreboard-body">
            <div
                    class="models-game-scoreboard models-game-scoreboard-line"
                    ng-repeat="score in Play.Game.scoreBoard"
                    >
                <div class="models-game-scoreboard left-side">{{score.word}}</div>
                <div class="models-game-scoreboard right-side">{{score.points}}</div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/app/modules/wordshuffle/views/models/Game.mdl.css">